/* Директно задаване на стилове без медия запити, за да сме сигурни че ще се приложат */
.custom-3xl-right-46 {
  right: -11.5rem !important; /* Съответства на -right-46 в Tailwind */
}

.custom-2xl-right-30 {
  right: 8.5rem !important; /* Съответства на -right-30 в Tailwind */
}

/* Прилагаме само подходящите правила според резолюцията */
@media screen and (min-width: 1480px) {
  .custom-3xl-right-46 {
    right: -11.5rem !important;
  }

  /* Отменяме 2xl класа при 3xl резолюция */
  .custom-2xl-right-30 {
    /* right: auto !important; */
  }
}

@media screen and (min-width: 1480px) and (max-width: 1680px) {
  .custom-3xl-right-46 {
    right: -4.5rem !important;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1479px) {
  .custom-3xl-right-46 {
    right: 2.5rem !important;
  }
}
